@{
    ViewData["Title"] = "Home Page";
}

<form action="/home/transfer" method="post">
    <label for="fromAccount">From Account</label>
    <input type="text" name="FromAccount" />

    <label for="toAccount">To Account</label>
    <input type="text" name="ToAccount" />

    <label for="amount">Amount</label>
    <input type="text" name="TransferAmount" />

    <input type="submit" name="Transfer"/>
    
</form>
